<?xml version="1.0" encoding="UTF-8"?>
<!-- Specify the refresh internal in seconds. -->
<Configuration monitorInterval="60">
    <Properties>
        <!-- <Property name="log_base_path">d:/temp</Property> -->
        <Property name="log_base_path">D:/logs</Property>
        <Property name="log_path">${log_base_path}/logs</Property>
        <Property name="eventlog_path">${log_base_path}/eventlogs</Property>
    </Properties>
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d %p [%c] - &lt;%m&gt;%n"/>
        </Console>
        <RollingFile name="thirdPartyAppender" fileName="${log_path}/thirdParty.log" append="true"
                     filePattern="${log_path}/thirdParty-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <RollingFile name="juranCoreAppender" fileName="${log_path}/juranCore.log" append="true"
                     filePattern="${log_path}/juranCore-%d{yyyy-MM-dd-HH}-%i.log">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="10 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <RollingFile name="juranInfoAppender" fileName="${log_path}/juranInfo.log" append="true"
                     filePattern="${log_path}/juranInfo-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%d %p [%c] - %m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="1 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
        <RollingFile name="juranEventAppender" fileName="${eventlog_path}/juranEvent.log" append="true"
                     filePattern="${eventlog_path}/juranEvent-%d{yyyy-MM-dd}-%i.log">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <SizeBasedTriggeringPolicy size="50 MB"/>
                <TimeBasedTriggeringPolicy modulate="true" interval="1" />
            </Policies>
            <DefaultRolloverStrategy max="30"/>
        </RollingFile>
    </Appenders>
    <Loggers>
        <AsyncLogger  name="org.springframework" level="INFO" additivity="false" includeLocation="true">
            <AppenderRef ref="console"/>
            <AppenderRef ref="thirdPartyAppender"/>
        </AsyncLogger>
        <AsyncLogger name="juran.core" level="INFO" additivity="false"  includeLocation="true">
            <AppenderRef ref="juranCoreAppender"/>
        </AsyncLogger>
        <AsyncLogger name="juran.info" level="INFO" additivity="false" includeLocation="true">
            <AppenderRef ref="juranInfoAppender"/>
        </AsyncLogger>
        <AsyncLogger name="juran.event" level="INFO" additivity="false">
            <AppenderRef ref="juranEventAppender"/>
        </AsyncLogger>
        <AsyncRoot level="error">
            <AppenderRef ref="console"/>
        </AsyncRoot>
    </Loggers>
</Configuration>